.card {
    border: 1px solid #eee;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
    padding: 10px;
    max-width: 400px;
    /* height: 500px; */
    margin: 20px auto;
    border-radius: 5px;
}

.show{
    text-align: left;
}

span{
    font-weight: 900;
}
